* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary-green: #596D48;
    --border-grey: #E5E7EB;
}
@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebar {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.logo-wrapper {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
.logo {
    height: 100px;
    width: 80px;
}
.logo-wrapper span {
    color: white;
    font-family: norse-bold, sans-serif;
    font-size: 5rem;
}
.credits {
    align-self: center;
    color: white;
}
.credits a {
    color: white;
}
.main {
    height: inherit;
    width: 65vw;
}